@{
    ViewBag.Title = "Cement And Clinker";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h2>
                Cement And Clinker
                <span></span>
            </h2>
        </div>
    </div>
    <div class="grid_16 ">
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/CementAndClinker/CementAndClinker1.jpg")" alt="Glisonate" /><br />
    </div>
    <div class="grid_16 ">
        <p>
            Rhine middle east LLC. is manufacturer and supplier of best quality for two types of Cement and clinker. Portland cements Type 2, Portland Cement Type5, Portland clinker Type 2, Portland Clinker type 5 products.
            Cement is a binder, a substance used for construction that sets, hardens and adheres to other materials, binding them together. Cement is seldom used solely, but is used to bind sand and gravel (aggregate) together. Cement is used with fine aggregate to produce mortar for masonry, or with sand and gravel aggregates to produce concrete
            Cement is one of great export products in Iran and GAT is supplier of best quality of cement in Iran.
            Cements used in construction are usually inorganic, often lime or calcium silicate based, and can be characterized as being either hydraulic or non-hydraulic, depending upon the ability of the cement to set in the presence of water.
            <br /><h3>Portland cement</h3><br />
            The result of grinding Portland clinker + additives (gypsum, slag or)in a cement mill. Portland cement is the most common type of cement that sometimes called OPC (Ordinary Portland Cement).

        </p>

        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
        <table width="100%" align="center">
            <tr>
                <th>Chemical Specification</th>
                <th>SiO2%</th>
                <th>Al2O3٪</th>
                <th>Fe2O3٪</th>
                <th>٪CaO</th>
                <th>٪MgO</th>
                <th>٪K2O</th>
                <th>٪Na2O</th>
                <th>SO3%</th>
                <th>٪IR</th>
                <th>٪LOI</th>
                <th>LSF</th>
                <th>SIM</th>
                <th>ALM</th>
                <th>٪C3S</th>
                <th>٪C2S</th>
                <th>٪C3A</th>
                <th>C4AF%</th>
                <th>CL</th>
            </tr>
            <tr>
                <td>Test result</td>
                <td>20.81</td>
                <td>4.93</td>
                <td>3.9</td>
                <td>63.2</td>
                <td>1.37</td>
                <td>0.63</td>
                <td>0.45</td>
                <td>2.37</td>
                <td>0.56</td>
                <td>2.32</td>
                <td>94.9</td>
                <td>2.36</td>
                <td>1.26</td>
                <td>53.7</td>
                <td>19.2</td>
                <td>6.47</td>
                <td>11.9</td>
                <td>0.031</td>
            </tr>
        </table>
        <br />
        <table width="100%" align="center">
            <tr>
                <td rowspan="2">Physical Properties</td>
                <td>Blaine</td>
                <td colspan="2">(minute)Setting time</td>
                <td colspan="4">Compressive strength(kg/cm2)</td>
                <td>Expansion</td>
            </tr>
            <tr>
                <td>(Cm2/gr)</td>
                <td>Initial</td>
                <td>Final</td>
                <td>2days</td>
                <td>3days</td>
                <td>7days</td>
                <td>28day</td>
                <td>%</td>
            </tr>
            <tr>
                <td>Test result</td>
                <td>3330</td>
                <td>147</td>
                <td>170</td>
                <td>*</td>
                <td>237</td>
                <td>327</td>
                <td>442</td>
                <td>0.04</td>
            </tr>
        </table><br />
        <p>
            <h3>Cement Type 2</h3><br />
            Cement type 2 is the most produced cement type in Iran. This type of cement has low heat of hydration and should be h3 enough to resist moderate sulfate attacks and could be used underground water or deep in the earth with high percentage of Sulfates.

            Chemical Specification	SiO2%	Al2O3٪	Fe2O3٪	٪CaO	٪MgO	٪K2O	٪Na2O	SO3%	٪IR	٪LOI	LSF	SIM	ALM	٪C3S	٪C2S	٪C3A	C4AF%	CL
            Test result	21.00	4.93	4.02	62.8	1.41	0.65	0.42	2.41	0.58	2.41	93.4	2.35	1.23	50.3	22.3	6.26	12.2	0.028
        </p>
        <br />
        <table width="100%" align="center">
            <tr>
                <th>Chemical Specification</th>
                <th>SiO2%</th>
                <th>Al2O3٪</th>
                <th>Fe2O3٪</th>
                <th>٪CaO</th>
                <th>٪MgO</th>
                <th>٪K2O</th>
                <th>٪Na2O</th>
                <th>SO3%</th>
                <th>٪IR</th>
                <th>٪LOI</th>
                <th>LSF</th>
                <th>SIM</th>
                <th>ALM</th>
                <th>٪C3S</th>
                <th>٪C2S</th>
                <th>٪C3A</th>
                <th>C4AF%</th>
                <th>CL</th>
            </tr>
            <tr>
                <td>Test result</td>
                <td>21.00</td>
                <td>4.93</td>
                <td>4.02</td>
                <td>62.8</td>
                <td>1.41</td>
                <td>0.65</td>
                <td>0.42</td>
                <td>2.41</td>
                <td>0.58</td>
                <td>2.41</td>
                <td>93.4</td>
                <td>2.35</td>
                <td>1.23</td>
                <td>50.3</td>
                <td>22.3</td>
                <td>6.26</td>
                <td>12.2</td>
                <td>0.028</td>
            </tr>
        </table><br />
        <table width="100%" align="center">
            <tr>
                <td rowspan="2">Physical Properties</td>
                <td>Blaine</td>
                <td colspan="2">(minute)Setting time</td>
                <td colspan="4">Compressive strength(kg/cm2)</td>
                <td>Expansion</td>
            </tr>
            <tr>
                <td>(Cm2/gr)</td>
                <td>Initial</td>
                <td>Final</td>
                <td>2days</td>
                <td>3days</td>
                <td>7days</td>
                <td>28day</td>
                <td>%</td>
            </tr>
            <tr>
                <td>Test result</td>
                <td>2980</td>
                <td>154</td>
                <td>210</td>
                <td>*</td>
                <td>226</td>
                <td>317</td>
                <td>410</td>
                <td>0.05</td>
            </tr>
        </table>
        <br />
        <div class="grid_16 ">
            <div class="clearfix"></div>
            <h3>Cement Type 5</h3>
            <p>
                It’s an anti-sulfate Portland cement which is used for making concrete which high resistance to sulfates. This type of cement is used for building dams, bridges and underground constructions because of its low heat of hydration and extremely high resistance. It is not recommended for making reinforced concrete because of chemical chlorine attacks.
            </p><br />
        </div>
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/CementAndClinker/CementAndClinker2.jpg")" alt="Glisonate" />
        <br />
        <div class="clearfix"></div>
        <p>
            <h3>Portland Clinker</h3>
            Is a result of a chemical reaction of limestone, clay and other additive materials under extreme heat treatment in a kiln which mostly consists of Calcium silicates and Aluminates. To produce grey clinker, raw materials such as Iron oxides, clay and ... are usually combined with limestone.
        </p><br />
        <div class="clearfix"></div>
        <h3>Clinker type 2 Specifications</h3><br />
        <table width="100%" align="center">
            <tr>
                <th>Chemical Specification</th>
                <th>SiO2%</th>
                <th>Al2O3٪</th>
                <th>Fe2O3٪</th>
                <th>٪CaO</th>
                <th>٪MgO</th>
                <th>٪K2O</th>
                <th>٪Na2O</th>
                <th>SO3%</th>
                <th>٪IR</th>
                <th>٪LOI</th>
                <th>LSF</th>
                <th>SIM</th>
                <th>ALM</th>
                <th>٪C3S</th>
                <th>٪C2S</th>
                <th>٪C3A</th>
                <th>C4AF%</th>
                <th>CL</th>
            </tr>
            <tr>
                <td>Test result</td>
                <td>22.50</td>
                <td>5.15</td>
                <td>3.95</td>
                <td>65.1</td>
                <td>1.5</td>
                <td>0.63</td>
                <td>0.45</td>
                <td>0.54</td>
                <td>0.56</td>
                <td>0.2</td>
                <td>90.0</td>
                <td>2.47</td>
                <td>1.3</td>
                <td>52.2</td>
                <td>25.1</td>
                <td>6.96</td>
                <td>12</td>
                <td>0.018</td>
            </tr>
        </table>
        <br /><h3>Clinker type 5 Specifications</h3><br />

        <table width="100%" align="center">
            <tr>
                <th>Chemical Specification</th>
                <th>SiO2%</th>
                <th>Al2O3٪</th>
                <th>Fe2O3٪</th>
                <th>٪CaO</th>
                <th>٪MgO</th>
                <th>٪K2O</th>
                <th>٪Na2O</th>
                <th>SO3%</th>
                <th>٪IR</th>
                <th>٪LOI</th>
                <th>LSF</th>
                <th>SIM</th>
                <th>ALM</th>
                <th>٪C3S</th>
                <th>٪C2S</th>
                <th>٪C3A</th>
                <th>C4AF%</th>
                <th>CL</th>
            </tr>
            <tr>
                <td>Test result</td>
                <td>22.50</td>
                <td>4.72</td>
                <td>5.41</td>
                <td>64.8</td>
                <td>1.5</td>
                <td>0.65</td>
                <td>0.49</td>
                <td>0.56</td>
                <td>0.22</td>
                <td>0.18</td>
                <td>89.9</td>
                <td>2.22</td>
                <td>0.87</td>
                <td>51.8</td>
                <td>25.5</td>
                <td>3.35</td>
                <td>16.5</td>
                <td>0.17</td>
            </tr>
        </table><br />
        <p>For further enquiries, please feel free to contact us on<a href="mailto:info@rhineme.com"> info@rhineME.com</a> Thanks in advance and looking forward to hear from you soon.</p>
    </div>
    </div>