@{
    ViewBag.Title = "DatesSyrup";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <a href="@Url.Action("Dates")" class="btn">Back</a>
            <h2>Dates Syrup 
                <span></span>
            </h2>
        </div>
    </div>
   
    <div class="grid_16 ">
        <h3>Dates Syrup Usage</h3>
        <br/>
<h4>Direct consumption</h4>
<p>Dates syrup can be used instead of honey on bread or toast, instead of maple syrup on pancakes, as an ice cream topping, or for sweetening of coffee and tea.</p>
<h4>Dairy products</h4>
<p>Yogurt forget frays, daily rice, milk shakes and ice cream can all be sweetened and flavored with dates syrup to give attractive an refreshing products.</p>
<h4>Jams and marmalades</h4>
<p>Dates syrup can rep sugar, in part or completely, in jams and marmalades.</p>
<h4>Baking</h4>
<p>As a sweetener and flavoring for biscuits, fruit loaves, tart filling and similar products.</p>
<h4>Sauces and relishes</h4>
<p>Dates syrup blends well with a range of ingredients to give rise to a variety of sauces for snakes and main meals.</p>
<h4>Soft drinks</h4>
<p>Excellent sweetening and flavoring effects can be achieved when making drinks with lemon, lime, apricot and any other compatible fruit flavors.</p>
<h4>Halwa</h4>
<p>An original flavor is imparted to this Middle Eastern sweet when dates syrup replaces portion of sugar or glucose syrup.</p>
<h4>Confectionary</h4>
<p>The syrup can be used as a binder and a sweetener for cereal and fruit bars and as an ingredient instead of invert syrup or treacle for filled chocolate bars and related products. It could replace part of the sugar in toffee and fudge.</p>
<h4>Energy substitute</h4>
<p>One cup of warm milk and three teaspoon of Dates Syrup in the morning and evening. There is no other energy substitute than the dates syrup in the world.</p>


    </div>
     <div class="grid_16 ">
        <img class="img_inner" src="@Url.Content("~/Content/images/products/Dates/Syrup2.jpg")" alt="Dates Syrup"/>
    </div>
</div>
