@{
    ViewBag.Title = "ConfectioneryChocolateAndToffee";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h2>Drinks And Beverages</h2>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="grid_16 ">
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Drinks/Drinkpage1.jpg")" alt="Drinks" /><br />
    </div>
    <div class="grid_16 ">
        <p>
            <h3>Fruit Juice</h3><div class="clearfix"></div>
            Juice is the liquid that comes from fruit and vegetables,
            or a drink that is made from this. Juice is a beverage made
            from the extraction or pressing of the natural liquid contained in
            fruit and vegetables.  It is commonly consumed as a beverage or used
            as an ingredient or flavoring in foods or other beverages. Juice is
            generally prepared by mechanically squeezing fruit or vegetable flesh
            without the application of heat or solvents; e.g. orange juice. Many
            commercial juices are filtered to remove fiber or pulp, but high-pulp
            fresh orange juice is a popular beverage. Additives are put in some juices,
            such as sugar and artificial flavors (in some fruit juice-based beverages).
            Common methods for preservation and processing of fruit juices include
            canning, pasteurization, concentrating, freezing, evaporation, and spray drying.
        </p>
        <br />
        <div class="clearfix"></div>
        <div class="grid_16 ">
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Drinks/Drinkpage2.jpg")" alt="Drinks" /><br />
        </div>
        <p>
            <h3>Concentrated Fruit Juice</h3><div class="clearfix"></div>
            Concentrated fruit juice is processed to remove a defined proportion
            of the natural water content found in the fruit and produces a product
            that is approximately 3 to 7 times more concentrated and therefore
            smaller in volume. Some concentrates are able to be stored for longer
            and at more convenient temperatures. This can greatly reduce the costs
            required for transportation of equivalent volumes of concentrate, which
            can then be returned to its single-strength state by reconstituting with
            water once it reaches the final processing destination.
        </p>
        <br />
        <div class="clearfix"></div>
        <div class="grid_16 ">
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Drinks/Drinkpage3.jpg")" alt="Drinks" /><br />
        </div>
    </div>
</div>