@{
    ViewBag.Title = "Frozen Shrimp";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h2>
                Frozen Shrimp
                <span></span>
            </h2>
        </div>
    </div>
    <div class="grid_16 ">

    </div>
    <div class="grid_16 ">
        <p>
            <strong>Species</strong>
            <br />
            White leg shrimp (Litopenaeus vannamei, formerly Penaeus vannamei), also known as Pacific white shrimp, King prawn<br/>
            <strong>Packaging</strong><br />
            2 kg carton boxes – 6 boxes in a master cartoon (or in accordance to the order)<br/>
            <strong>Type</strong><br />
            Head-on shell-on (HOSO) : Size Range From 30-40 to 100-120 (the most common for export, especially for European destinations)
            Headless (shell-on) : Size Range From 31-35 to 91-110
            peeled and deveined (P&D): Size Range: From 31-35 to 91-110
            PUD (peeled undeveined): Size Range: From 31-35 to 91-110
            PTO (peeled tail on): Size Range From 56-66 to 155-176.
        </p>
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/FrozenShrimp/FrozenShrimp1.jpg")" alt="Glisonate" />
        <strong>Size chart</strong><br />
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/FrozenShrimp/FrozenShrimp2.jpg")" alt="Glisonate" />
        <br/><strong>Farms location</strong><br/>
        <p>More than 200 hectares farms located on the South coastal line of Iran, Chabahar (Indian ocean) and Hormozgan (Persian Gulf).</p>
        <strong>Please note that the price of the shrimp is determined by its size range and usually orders are as a basket including different sizes.</strong><br/>
        <strong>( e.g. 10%: 50-60, 70%: 60-70, 20%: 100-120).</strong><br/>
        <p>For further enquiries, please feel free to contact us on<a href="mailto:info@abbaditrading.com"> info@abbaditrading.com</a> Thanks in advance and looking forward to hear from you soon.</p>
</div>
</div>
