@{
    ViewBag.Title = "Gypsum";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h2>
                Gypsum
                <span></span>
            </h2>
        </div>
    </div>
    <div class="grid_16 ">
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Gypsum/Gypsum3.jpg")" alt="Glisonate" /><br />
    </div>
    <div class="grid_16 ">
        <p>
            <strong>Gypsum Rock (CaSO4.2H2O)</strong><br/>
            Gypsum is a soft sulfate mineral composed of calcium sulfate dehydrate, with the chemical formula CaSO4·2H2O. and as the main constituent in many forms of gypsum plaster, stucco, plaster of Paris, blackboard chalk and wallboard, gypsum board, cement factory, other chemical industries.
            The mineral gypsum precipitated some 100 to 200 million years ago when sea water evaporated. From a chemical point of view, it is calcium sulphate dehydrate (CaSO4.2H2O) deposited in sedimentary layers on the sea bed. Under high pressure and temperature gypsum turns into anhydrite (CaSO4). In nature, gypsum and anhydrate occur as beds or nodular masses up to a few meters thick. Gypsum is formed by the hydration of anhydrite (CaSO4). The depth of hydration can range from the surface of the deposit down to three hundred meters, depending on temperature and pressure, topography and the structure of the deposit. Anhydrite is often mined in conjunction with gypsum, but is comparatively limited in its technical applications. The content of gypsum in sedimentary rock varies from 75% to 95%, the rest being clay and chalk. Pure gypsum is a white rock but sometimes impurities color it grey, brown or pink. Its scientific name is calcium sulphate dehydrate and its chemical formula is CaSO42H2O. This means that, for every molecule of gypsum, there are two molecules of water. This is a most important fact in the gypsum story. If a piece of gypsum is ground to powder and heated, it will lose about three quarters of its water. If this powder is then mixed with water, the paste or slurry will set rock hard. The chemically-combined water, previously removed, has re-combined and the material has reverted to the original composition of the rock.
            The most important applications of gypsum are in the production of plaster, plasterboards, gypsum fiberboard and gypsum blocks. The mineral forms the basis of a large industry processing a wide range of building products. Synthetic gypsum is now more widely used in the manufacture of plasterboard and gypsum fiberboards. Natural gypsum is especially suitable for the manufacture of building plasters because it contains clays that improve the workability of the plaster. High-purity natural gypsum is also used to produce special plasters, for example for use as plaster molds in the pottery industry and for surgical and dental work. Small quantities of high-purity gypsum are also used in confectionary, food, the brewing industry, pharmaceuticals, in sugar beet refining, as cat litter and as an oil absorbent. Last, but not least, gypsum has been used for more than 200 years as a soil amendment and fertilizer. Indeed, it improves water penetration and workability of impermeable sodic ‘alkali’ soils; it softens soils with a high clay content; it helps neutralize soil acidity; and it adds plant nutrients: Calcium and Sulphur.
            <br /><br /><strong>Physical Characteristics</strong><br/><br />
            <strong>Color</strong><br/>
            Color is usually white, colorless or gray, but can also be shades of red, brown and yellow.<br/><br />
            <strong>Luster</strong><br/>
            Luster is vitreous to pearly especially on cleavage surfaces.<br /><br />
            <strong>Transparency</strong><br/>
            Transparency crystals are transparent to translucent.<br /><br />
            <strong>Crystal System</strong><br/>
            Crystal System is monoclinic; 2/m<br /><br />
            <strong>Crystal Habits</strong><br/>
            Crystal Habits include the tabular, bladed or blocky crystals with a slanted parallelogram outline. The pinacoid faces dominate with jutting prism faces on the edges of the tabular crystals. Long thin crystals show bends and some specimens bend into spirals called "Ram's Horn Selenite" Two types of twinning are common and one produces a "spear head twin" or "swallowtail twin" while the other type produces a "fishtail twin". Also massive, crusty, granular, earthy and fibrous.
            <br /><br /><strong>Cleavage</strong><br/>
            Cleavage is good in one direction and distinct in two others.<br /><br />
            <strong>Fracture</strong><br/>
            Fracture is uneven but rarely seen.<br /><br />
            <strong>Hardness</strong><br/>
            Hardness is 2 and can be scratched by a fingernail.<br /><br />
            <strong>Specific Gravity</strong><br/>
            Specific Gravity is approximately 2.3+ (light)<br /><br />
            <strong>Streak</strong><br/>
            Streak is white.<br /><br />
            <strong>Associated Minerals</strong><br/>
            Associated Minerals are halite, calcite, sulfur, pyrite, borax and many others.<br /><br />
            <strong>Other Characteristics</strong><br/>
            Thin crystals are flexible but not elastic, meaning they can be bent but will not bend back on their own. Also some samples are fluorescent. Gypsum has a very low thermal conductivity (hence it's use in drywall as an insulating filler). A crystal of Gypsum will feel noticeably warmer than a like crystal of quartz.<br /><br />
            <strong>Best Field Indicators</strong><br/>
            Best Field Indicators are crystal habit, flexible crystals, cleavage and hardness.<br /><br />
            <br/><br/>
            <strong>GAT Gypsum Rock Types</strong><br/>
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Gypsum/Gypsum2.jpg")" alt="Glisonate" /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <strong>Gypsum for Cement Grade</strong><br/>
            Gray or white cement grade – available in different sizes and purities<br /><br />
            <strong>Gypsum for Gypsum and gypsum board factories</strong><br/>
            Gypsum plaster or gypsum board (drywall) grade – available in different sizes and purities<br /><br />
            <strong>Gypsum for Special Industries</strong></br>
            Agriculture and fertilizer grade – available in different fine mesh<br /><br />
            <strong>Natural Gypsum Chemical Analysis (90-92%)</strong><br/>

        </p>

        @*<style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>*@
        <table class="grid_16 table_gat" align="right">
            <tr>
                <th>Gypsum Components</th>
                <th>Min %</th>
                <th>Max %</th>
            </tr>
            <tr>
                <td>CASO4.2H20</td>
                <td>90</td>
                <td>92</td>
            </tr>
            <tr>
                <td>Combined Water</td>
                <td>18.83</td>
                <td>19.25</td>
            </tr>
            <tr>
                <td>Sio2</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Al2o3</td>
                <td>0.1</td>
                <td>0.5</td>
            </tr>
            <tr>
                <td>Fe203</td>
                <td>0.8</td>
                <td>0.1</td>
            </tr>
            <tr>
                <td>Cao</td>
                <td>29.30</td>
                <td>29.5</td>
            </tr>
            <tr>
                <td>Mgo</td>
                <td>0.1</td>
                <td>0.3</td>
            </tr>
            <tr>
                <td>Cl</td>
                <td>0.008</td>
                <td>0.01</td>
            </tr>
            <tr>
                <td>So3</td>
                <td>41.8</td>
                <td>42.80</td>
            </tr>
            <tr>
                <td>Moisture</td>
                <td>0.5</td>
                <td>2.1</td>
            </tr>
            <tr>
                <td rowspan="2">Size</td>
                <td colspan="2">0-50 mm</td>
            </tr>
            <tr>
            <td colspan="2">50-150 mm</td>
            </tr>
        </table>
        <br/>
        <br/> 
            <p>For further enquiries, please feel free to contact us on<a href="mailto:info@abbaditrading.com"> info@abbaditrading.com</a> Thanks in advance and looking forward to hear from you soon.</p>
    </div>
</div>