@{
    ViewBag.Title = "Honey";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}



<div class="wrapper">
    <div class="grid_16">
        @*<a href="@Url.Action("Bitumen")" class="btn">Back</a>*@
    </div>
</div>
<div class="grid_16 ">
    <h2>Honey</h2>
    <p>
        Honey is a sweet sticky substance produced by bees and used as food. Bees produce honey from the sugary secretions of plants (floral nectar)
        through regurgitation, enzymatic activity, and water evaporation. Honey is stored in wax structures called honeycombs.
        Modern commercial production of honey in Iran on the one hand and its increasing consumption on a global scale on the other hand has
        encouraged us to connect local beekeepers and domestic producers of honey to the international markets.
    </p>
</div>
<div class="clearfix"></div>
<div class="grid_7 img_inner">
    <img style="width: 100%" src="@Url.Content("~/Content/images/products/Honey/Honeypage1.jpg")" alt="Honey" />
</div>
<div class="clearfix"></div>
<div class="grid_16 ">
    <p>
        Honey gets its sweetness from the monosaccharaides fructose and glucose, and has about the same relative sweetness as sucrose (granulated
        sugar). It has attractive chemical properties for baking and a distinctive flavour when used as a sweetener. Most microorganisms do not grow in
        honey, so sealed honey does not spoil, even after thousands of years.
    </p>
</div>
    <div class="clearfix"></div>
    <div class="grid_7 img_inner">
        <img style="width: 100%" src="@Url.Content("~/Content/images/products/Honey/Honeypage2.jpg")" alt="Honey" />
    </div>
    <div class="clearfix"></div>
    <div class="grid_16 ">
        <p>Honey provides 64 calories in a serving of one tablespoon (15 ml) equivalent to 1272 kJ per 100 g.</p>
        <div class="clearfix"></div>
        <div class="grid_7 img_inner">
            <img style="width: 100%" src="@Url.Content("~/Content/images/products/Honey/Honeypage3.jpg")" alt="Honey" />
        </div>
    </div>
        <div class="clearfix"></div>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                background: yellow;
            }
        </style>
        <div class="clearfix"></div>
        <table width="100%" align="center">
            <tr>
                <th>Product Name</th>
                <th>Specific honey (traveling)</th>
                <th>Specific honey (in small glass)</th>
                <th>Specific honey</th>
                <th>Specific honey (Large)</th>
                <th>Special Honey(Large)</th>
                <th>Special Honey</th>
                <th>Family Special Honey(Small)</th>
                <th>Family Special Honey ( Large)</th>
                <th>Specific Honey(Small Bulk)</th>
                <th>Specific Honey (Large Bulk)</th>
                <th>Kordestan honey(Small)</th>
            </tr>
            <tr>
                <td>Net Weight</td>
                <td>195 gr</td>
                <td>200gr</td>
                <td>280 gr</td>
                <td>350 Gr</td>
                <td>800gr</td>
                <td>800gr</td>
                <td>1450 gr</td>
                <td>1850 gr</td>
                <td>6700 gr</td>
                <td>27000 gr</td>
                <td>420 r</td>
            </tr>
            <tr>
                <th>Packing</th>
                <th>Pet</th>
                <th>Glass</th>
                <th>Jar</th>
                <th>Jar</th>
                <th>Jar</th>
                <th>Jar</th>
                <th>Jar</th>
                <th>Jar</th>
                <th>Tin Can</th>
                <th>Tin Can</th>
                <th>Jar</th>
            </tr>
        </table>
        <br />
        <div class="clearfix"></div>
        <table width="100%" align="center">
            <tr>
                <th>Product Name</th>
                <th>Kordestan honey(Large)</th>
                <th>Natural honey</th>
                <th>Momtaz Honey</th>
                <th>Momtaz Honey(Export)</th>
                <th>Honey Comb</th>
                <th>Daryan Shanly Honey</th>
                <th>Nuts Honey</th>
                <th>Gift Honey</th>
                <th>Sesam Cream + honey</th>
                <th>Sesam Cream + Honey Pistachio</th>
                <th>Sesam Cream + Honey Soffron</th>
            </tr>
            <tr>
                <td>Net Weight</td>
                <td>900 r</td>
                <td>350 gr</td>
                <td>350 gr</td>
                <td>800 gr</td>
                <td>350 gr</td>
                <td>800 gr</td>
                <td>380 gr</td>
                <td>900 gr</td>
                <td>240 gr</td>
                <td>240 gr</td>
                <td>240 gr</td>
            </tr>
            <tr>
                <th>Packing</th>
                <th>Jar</th>
                <th>Jar</th>
                <th>Jar</th>
                <th>Jar</th>
                <th>Box</th>
                <th>Can</th>
                <th>Jar</th>
                <th>Jar</th>
                <th>Jar</th>
                <th>Jar</th>
                <th>Jar</th>
            </tr>
        </table>
