@{
    ViewBag.Title = "IceCream";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            @*<a href="@Url.Action("IceCream")" class="btn">Back</a>*@
            <h2>
                Ice Cream
                <span></span>
            </h2>
        </div>
    </div>
    <div class="img_box_Header">
        <img class="img_inner" src="@Url.Content("~/Content/images/products/IceCream/IceCreampage1.jpg")" alt="IceCream" />
    </div>
    <div class="grid_16 ">
        <p>
            Ice cream is a frozen sweet food made of milk, cream, and sugar; with fruit, nuts, chocolate,
            etc. added to it; typically eaten as a snack or dessert.
            The meaning of the phrase &quot;ice cream&quot; varies from one country to another. Phrases such as
            &quot;frozen custard&quot;, &quot;frozen yogurt&quot;, &quot;sorbet&quot;, &quot;gelato&quot; and others are used to distinguish different
            varieties and styles. In some countries, such as the United States, the phrase &quot;ice cream&quot; applies
            only to a specific variety, and products that do not meet the criteria to be called ice cream are labeled
            &quot;frozen dairy dessert&quot; instead. In other countries, such as Italy and Argentina, one word is used for all
            variants.
            Ice cream may be served in dishes, for eating with a spoon, or in cones, which are licked. Ice
            cream may be served with other desserts, such as apple pie. Ice cream is used to prepare other
            desserts, including ice cream floats, sundaes, milkshakes, ice cream cakes and even baked items.
        </p>
    </div>
    <div class="clearfix"></div>
    <div class="img_box_Header">
        <img class="img_inner" src="@Url.Content("~/Content/images/products/IceCream/IceCreampage2.jpg")" alt="IceCream" />
    </div>
    <div class="clearfix"></div>

    <style>
        table, th, td, tr {
            border: 1px solid black;
            border-collapse: collapse;
            background: yellow;
        }
    </style>
    <table width="100%" align="center">
        <tr>
            <th>Product Name</th>
            <th>Saffron magnum sticky</th>
            <th>Cake Ice Cream</th>
            <th>Ghifi</th>
            <th>Fruity Spiral Sticky</th>
            <th>Cocopiral ice lolly</th>
            <th>Star Sticky</th>
            <th>Aroosaki Sticky</th>
            <th>Heart Sticky</th>
            <th>Hasiri</th>
            <th>Twin ice lolly</th>
            <th>Angry birds sticky</th>
        </tr>
        <tr>
            <td>Flavor</td>
            <td>Vanilla bar coated with saffron and pistachio</td>
            <td>Vanilla</td>
            <td>
                Vanilla Saffron Cocoa Strawberry Cantaloupe
            </td>
            <td>
                Vanilla Cantaloupe Ice Cream with Orange Sour cherry Cantaloupe ice jelly
            </td>
            <td>
                Orange Lemon Blackberry
            </td>
            <td>
                Vanilla bar Coated with Banana Sour Cherry
            </td>
            <td>Vanilla bar Coated with chocolate</td>
            <td>
                Vanilla bar Coated with chocolate or Orange or strawbwrry
            </td>
            <td>Vanilla-Saffron-Strawberry</td>
            <td>Orange- Lemon Cantaloupe-Sour Cherry</td>
            <td>Vanilla-Cocoa</td>
        </tr>
        <tr>
            <th>Weight</th>
            <th>80 gr</th>
            <th>80 gr</th>
            <th>60 gr</th>
            <th>70 gr</th>
            <th>60 gr</th>
            <th>60 gr</th>
            <th>60 gr</th>
            <th>60 gr</th>
            <th>60 gr</th>
            <th>70 gr</th>
            <th>60 gr</th>
        </tr>
        <tr>
            <th>Packing</th>
            <th>40/Box</th>
            <th>40/Box</th>
            <th>40/Box</th>
            <th>40/Box</th>
            <th>50/Box</th>
            <th>50/Box</th>
            <th>40/Box</th>
            <th>40/Box</th>
            <th>40/Box</th>
            <th>60/Box</th>
            <th>40/Box</th>
        </tr>
    </table>
    <br />
    <div class="clearfix"></div>
    <table width="100%" align="center">
        <tr>
            <th>Product Name</th>
            <th>Mobile sticky</th>
            <th>Sponge bob Sticky</th>
            <th>Benten Sticky</th>
            <th>Coffee Sticky</th>
            <th>Gaz Sticky</th>
            <th>Kentaki coconut Sticky</th>
            <th>Aroosaki Sticky</th>
            <th>Taki Sticky</th>
            <th>Magnum Sticky</th>
            <th>Sour Cherry Saffron Sticky</th>
            <th>Mini Magnum Sticky</th>
        </tr>
        <tr>
            <td>Flavor</td>
            <td>Vanilla-Cocoa</td>
            <td>Vanilla-Saffron</td>
            <td>Vanilla-Cocoa</td>
            <td>Coffee bar coated with milk</td>
            <td>Gaz Bar Coated with Milk & Pistachio</td>
            <td>Vanilla bar Coated with Chocolate</td>
            <td>Kentaki coconut Sticky</td>
            <td>Vanilla bar Coated with Chocolate</td>
            <td>Vanilla bar coated with Choclate and almond</td>
            <td>Vanilla bar Coated with Sour cherry & Saffron</td>
            <td>White bar coated with chocolate or milky and almond</td>
        </tr>
        <tr>
            <th>Weight</th>
            <th>60 gr</th>
            <th>60 gr</th>
            <th>60 gr</th>
            <th>60 gr</th>
            <th>60 gr</th>
            <th>60 gr</th>
            <th>60 gr</th>
            <th>60 gr</th>
            <th>80 gr</th>
            <th>60 gr</th>
            <th>60 gr</th>
        </tr>
        <tr>
            <th>Packing</th>
            <th>40/Box</th>
            <th>40/Box</th>
            <th>40/Box</th>
            <th>60/Box</th>
            <th>60/Box</th>
            <th>60/Box</th>
            <th>60/Box</th>
            <th>60/Box</th>
            <th>40/Box</th>
            <th>60/Box</th>
            <th>60/Box</th>
        </tr>
    </table>
    <br />
    <div class="clearfix"></div>
    <table width="100%" align="center">
        <tr>
            <th>Product Name</th>
            <th>Sanal Sticky</th>
            <th>Banana Sticky</th>
            <th>Twin Sticky</th>
            <th>Watermelon Sticky</th>
            <th>Kaj Sticky</th>
            <th>Loghme</th>
            <th>Bulk</th>
        </tr>
        <tr>
            <td>Flavor</td>
            <td>Vanilla bar coated with Strawberry Concentrate</td>
            <td>Vanilla bar Coated with Banana</td>
            <td>Vanilla bar coated with Chocolate</td>
            <td>Cantaloupe-Watermelon</td>
            <td>Saffron Bar Coated with Chocolate</td>
            <td>Vanilla</td>
            <td>
                Blackberry
                Strawberry
                Cantaloupe
                Vanilla
                Pistachio
                Saffron
                Saffron & Chocolate
                Dark Chocolate
                Walnuts & Vanilla
                Walnuts & Saffron
                Plum
            </td>
        </tr>
        <tr>
            <th>Weight</th>
            <th>60 gr</th>
            <th>60 gr</th>
            <th>60 gr</th>
            <th>60 gr</th>
            <th>60 gr</th>
            <th>60 gr</th>
        </tr>
        <tr>
            <th>Packing</th>
            <th>60/Box</th>
            <th>60/Box</th>
            <th>60/Box</th>
            <th>40/Box</th>
            <th>60/Box</th>
            <th>60/Box</th>
        </tr>
    </table>
</div>


