@{
    ViewBag.Title = "KabkabDates";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <a href="@Url.Action("Dates")" class="btn">Back</a>
            <h2>Kabkab Dates
                <span></span>
            </h2>
        </div>
    </div>
   
    <div class="grid_16 ">
<p>This dates are round in size, and the color varies from light brown to dark brown. It is soft in nature with moisture under %18. Shelf Life at room temperature is about 1 year under interim fumigation. The dates are used in pitted or unpitted form. Harvest Time is Mid-September. Kabkab grow in Fars regions.</p>
<p>Kharak of Kabkab date is of no use, so it should bear pre-cooking and pre-drying stages before use. At Kharak and Rutab stages the date appears in yellow color and as ripens the coloring turns into dark brown. From the economical point of view, it comes after Saamara, Shahani and Mazafati dates.</p>
<p>The date has a high moisture content which is oval-shaped and weighs around 15 gram. This variety has a hard skin and the flesh to pit rate is roughly 9.25. The pit is an oval long grey in color which is highly-cling to the flesh.</p>
 
<p><h3>Grades:</h3>  The product is available in three grades of AAA, AA and A</p>


    </div>
     <div class="grid_16 ">
        <img class="img_inner" src="@Url.Content("~/Content/images/products/Dates/Kabkab.jpg")" alt="Kabkab"/>
    </div>
</div>
