@{
    ViewBag.Title = "Mazafati Dates";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <a href="@Url.Action("Dates")" class="btn">Back</a>
            <h2>Mazafati Dates
                <span></span>
            </h2>
        </div>
    </div>
   
    <div class="grid_16 ">
<p>Mazafati date fruit is one of the most famous and delicious varieties of the dates which is usually used as Rutab. The coloring of the date is black with the moisture content (15-35%) depends largely on the harvesting time and the place where the date grows.</p>
<p>The size of the date is usually between 2.5-4.5 cm and the date has a very useful flesh on it.</p>
<p>The most delicious Mazafati date is the one which tends to grows in the city of Bam in southern east area of Iran.</p>
<p>The Bam region has around 28000 Hectares of the lands under the harvest of Mazafati date from which 5000 Hectares pertains to young palm trees. 120000 tons of the date is being harvested from the land annually.</p>
<p>Jiroft and Kahnuj in Kerman province are the main regions where Mazafati grows.</p>
<p>These fresh dates grow in Kerman region. The coloring of this variety is black and its taste is very delicious.</p>
<p>Grades: The product is available in three grades of AAA, AA and A</p>

    </div>
     <div class="grid_16 ">
        <img src="@Url.Content("~/Content/images/products/Dates/Mazafati.jpg")" alt="Mazafati"/>
    </div>
</div>
