@{
    ViewBag.Title = "Piarom Dates";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <a href="@Url.Action("Dates")" class="btn">Back</a>
            <h2>Piarom Dates (Piyarom)
                <span></span>
            </h2>
        </div>
    </div>
   
    <div class="grid_16 ">
<p>This variety of the date is the most delicious semi dried date in the whole world.</p>
<p>Piarom is one of the varieties which grows in south of Iran in the north area of Hormozgan province. Piarom palms are mostly grown in mountain domains and irrigation is done through channels running from the river in the region. Palms are grown organically with no chemical treatment during the growing season. The washing stage is completely performed.</p>
<p>Fructose is the sugar found mainly in the date which undergoes metabolic processing in the liver and is known as one of the best sweeteners for diabetics to use.</p>
<p>These dates are semi dried with moisture under %15. It is dark brown in color and round in size. Shelf Life at room temperature about 18 Months, under interim fumigation. The dates are used pitted or unpitted. Harvest Time is around mid-September. The dates are available in Jumbo or normal forms. Piarom grow in Hormozgan region. The date has a dark brown skin which is fully-cling to the flesh.</p>
        <p><h3>Grades:</h3> The product is available in three grades of AAA, AA and A</p>
<p><h3>Packing:</h3> Available regular packing is 10-12.5 kg cartons.</p>

    </div>
     <div class="grid_16 ">
        <img class="img_inner" src="@Url.Content("~/Content/images/products/Dates/Piarom.jpg")" alt="Piarom"/>
    </div>
</div>