@{
    ViewBag.Title = "Pistachio";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

    <div class="container_16">
        <div class="wrapper">
            <div class="grid_16">
                <h2>
                    Pistachio
                    <span></span>
                </h2>
            </div>
        </div>
        <div class="grid_16 ">

        </div>
        <div class="grid_16 ">
            <p>
                With 4 most advanced processing facilities located in Kerman, Khuzestan, Qazvin and Tehran, GhanimAbbadi  has access to the most recognized relative agricultural land of the country, including Kerman, Khorasan Razavi, South Khorasan, Yazd, East and West Azarbaijan, Hamedan, Hormozgan, Booshehr, Fars and Khuzestan, where PISTACHIOS are cleaned, sorted and packed as per customer required specifications and get ready for shipment.
                Each of our processing plant is supervised under restricted quality control policies to ensure a consistent quality and service to meet customer requirements.

            </p>
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Pistachio/Pistachio.jpg")" alt="Glisonate" /><br />
            <style>
                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }
            </style>
            <table width="100%" align="center">
                <tr>
                    <th>Jumbo</th>
                    <th>Long Ahmdi Aghaei</th>
                    <th>Long Akbari</th>
                    <th>
                        Round
                        (Fandoghi)
                    </th>
                </tr>
                <tr>
                    <td>(1) 20/22</td>
                    <td>(2) 22/24</td>
                    <td>(1) 20/22</td>
                    <td>(1) 28/30</td>

                </tr>
                <tr>
                    <td>(2) 22/24</td>
                    <td>(2) 26/28</td>
                    <td>(2) 22/24</td>
                    <td>(2) 30/32</td>
                </tr>
                <tr>
                    <td>(2) 22/24</td>
                    <td>(2) 26/28</td>
                    <td>(2) 22/24</td>
                    <td>(2) 30/32</td>
                </tr>
                <tr>
                    <td></td>
                    <td>(3) 28/30</td>
                    <td>(3) 24/26</td>
                    <td></td>
                </tr>
            </table>
            <br />
            <table width="100%" align="center">
                <tr>
                    <th colspan="6">Shipping Information</th>
                </tr>
                <tr>
                    <td>Product</td>
                    <td>Packing</td>
                    <td>
                        Unit Net
                        Weight(kg)
                    </td>
                    <td>Container</td>
                    <td>Quantity</td>
                    <td>
                        Net Weight
                        (kg)
                    </td>


                </tr>
                <tr>
                    <td rowspan="6">
                        In-Shell
                        Pistachio
                    </td>
                    <td rowspan="4">Cartons</td>
                    <td rowspan="2">10</td>
                    <td>20’ Container</td>
                    <td>1100 Cartons</td>
                    <td>1100</td>
                </tr>
                <tr>
                    <td>40’ Container</td>
                    <td>2200 Cartons</td>
                    <td>2200</td>
                </tr>
                <tr>
                    <td rowspan="2">12</td>
                    <td>20’ Container</td>
                    <td>1000 Cartons</td>
                    <td>12000</td>
                </tr>
                <tr>
                    <td>40’ Container</td>
                    <td>2000 Cartons</td>
                    <td>24000</td>
                </tr>
                <tr>
                    <td rowspan="2">Bags</td>
                    <td rowspan="2">50</td>
                    <td>20’ Container</td>
                    <td>240 Bags</td>
                    <td>12000</td>
                </tr>
                <tr>
                    <td>40’ Container</td>
                    <td>480 Bags</td>
                    <td>24000</td>
                </tr>
            </table><br/>
            <p>For further enquiries, please feel free to contact us on<a href="mailto:info@abbaditrading.com"> info@abbaditrading.com</a> Thanks in advance and looking forward to hear from you soon.</p>
        </div>
    </div>