@{
    ViewBag.Title = "Polymers";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
	    <div class="wrapper">
			<div class="grid_16">
	        	<h2>Polymers
		        <span></span>
                    </h2>
			    <p><strong>Polymers</strong> are substances containing a large number of smaller, identical molecules (called monomers) linked together. These substances often form into a chain-like structure. Polymers have extremely high molecular weights and the chains may differ from one another in their molecular weights.</p>
<p>Today, the polymer industry has grown to be larger than the aluminum, copper and steel industries combined.</p>
<p>Polymers already have a wide range of applications that far exceeds that of any other class of material available. Current applications extend from adhesives, coatings, foams, and packaging materials to textile and industrial fibers, composites, electronic devices, biomedical devices, optical devices, and precursors for many newly developed high-tech ceramics.</p>


                
	        </div>
	    </div>
        <div class="grid_4 ">
        	<div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Polymer/pe1.jpg")"  alt="pe1"><a href="#">Polyethylene</a><br>
            	
            </div>
        </div>
        <div class="grid_4">
        	<div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Polymer/pe2.jpg")"  alt="pe2"><a href="#">Polymer 2</a><br>
            	
            </div>
        </div>
        <div class="grid_4">
        	<div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Polymer/pe3.jpg")"  alt="pe3"><a href="#">Polymer 3</a><br>
            	
            </div>
        </div>
        <div class="grid_4">
        	<div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Polymer/pe4.jpg")" alt="pe4"><a href="#">Polymer 4</a><br>
            	
            </div>
        </div>
        <div class="clear"></div>
           
       
	</div>
