@{
    ViewBag.Title = "Raisins";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h2>
                Raisins
                <span></span>
            </h2>
            <p>
                A raisin is a dried grape. Raisins are produced in many regions of the world and may be eaten raw
                or used in cooking, baking, and brewing.
                Raisin varieties depend on the type of grape used, and are made in a variety of sizes and colors
                including green, black, brown, blue, purple, and yellow. Seedless varieties include the sultana
                (the common American type is known as Thompson Seedless in the USA), the Greek currants
                (black Corinthian raisins) and Flame grapes. Raisins are traditionally sun-dried, but may also be
                water-dipped and artificially dehydrated.
            </p>
            <div class="clearfix"></div>
            <div class="grid_4 ">
                <div class="img_box maxheight">
                    <img src="@Url.Content("~/Content/images/products/Raisins/Raisins1.jpg")" alt="Mazafati"><br>

                </div>
            </div>
            <div class="clearfix"></div>
            <p>
                "Golden raisins" are generally dried in dehydrators with controlled temperature and humidity,
                which allows them to retain a lighter color and more moisture. They are often treated with sulfur
                dioxide after drying
            </p>
            <div class="clearfix"></div>
            <div class="grid_4 ">
                <div class="img_box maxheight">
                    <img src="@Url.Content("~/Content/images/products/Raisins/Raisins2.jpg")" alt="Mazafati"><br>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="grid_4 ">
                <div class="img_box maxheight">
                    <img src="@Url.Content("~/Content/images/products/Raisins/Raisins3.jpg")" alt="Mazafati"><br>

                </div>
            </div>
            <div class="clearfix"></div>
            <p>
                <h3>Raisins Nutrition Facts</h3>
                Raisins can contain up to 72% sugars by weight, most of which is fructose and glucose.
                They also contain about 3% protein and 3.7%–6.8% dietary fiber. Raisins, like prunes and
                apricots, are also high in certain antioxidants, but have a Lower Vitamin C  content than
                fresh grapes. Raisins are low in sodium and contain no cholesterol.
                Data presented at the American College of Cardiology's 61st Annual Scientific Session in
                2012 suggest that, among individuals with mild increases in blood pressure, the routine
                consumption of raisins (three times a day) may significantly lower blood pressure, especially
                when compared to eating other common snacks
                100 grams of raisins contains about 300 calories and is composed of approximately 75%
                carbohydrates, 5.3% fiber, 2.8% protein, 0-4% fat and is rich in potassium Per 100 g of
                Edible Protein:
            </p>
            <div class="clearfix"></div>
            <style>
                table {
                    border-collapse: collapse;
                    width: 100%;
                }

                table, td, th, tr {
                    border: 1px solid black;
                }

                table, td {
                    border: 1px solid black;
                }

                #green {
                    background-color: #93c572;
                }
            </style>
            <table align="center">
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>MG</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Potassium</td>
                    <td>746 mg</td>

                </tr>
                <tr>
                    <td>2</td>
                    <td>Phosphorus</td>
                    <td>115 mg</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Calcium</td>
                    <td>52 mg</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>magnesium</td>
                    <td>33 mg</td>
                </tr>
                <tr>

                    <td>5</td>
                    <td>Sodium</td>
                    <td>12 mg</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Iron</td>
                    <td>1.7 mg</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Vitamin B</td>
                    <td>1 mg</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Vitamin C</td>
                    <td>1.3 mg</td>
                </tr>
            </table>
            <div class="clearfix"></div>
            <br />
            <div class="grid_4 ">
                <div class="img_box maxheight">
                    <img src="@Url.Content("~/Content/images/products/Raisins/Raisins4.jpg")" alt="Mazafati"><br>

                </div>
            </div>
        </div>
    </div>
</div>
    
