@{
    ViewBag.Title = "SayerDates";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <a href="@Url.Action("Dates")" class="btn">Back</a>
            <h2>Sayer Dates
                <span></span>
            </h2>
        </div>
    </div>
   
    <div class="grid_16 ">
<p>These dates are semi-dried with moisture under 15% and are dark brown color. The dates are long in size and Shelf Life is approximately 18 months at room temperature. Sayer dates grows in the Khuzestan region. The dates are available in grades GAQ, FAQ and industrial as whole dates, in pitted or non-pitted forms, and also in chapped form. Harvesting is done at the mid October.</p>
        <p>The grades of Sayer dates are mentioned below:</p>
        <ol>
<li>	Super Select maximum 70 pieces/LB</li>
<li>	Select Grade A maximum 75 pieces/LB</li>
<li>	GAQ maximum 115 pieces/LB</li>
        <li>FAQ (smaller sizes, no specific count/lb.)</li>
            </ol>
        <p><strong>Grades:</strong> The product is available in three grades of AAA, AA and A</p>
<p><strong>Packing:</strong> Available regular packing is 10-12.5 kg cartons.</p>

    </div>
     <div class="grid_16 ">
        <img class="img_inner" src="@Url.Content("~/Content/images/products/Dates/Sayer.jpg")" alt="Sayer"/>
    </div>
</div>

