@{
    ViewBag.Title = "TomatoPasteAndJuice";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h2>Tomato Paste And Juice</h2>
        </div>
    </div>
    <div class="grid_16 ">
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/TomatoPaste/TomatoPastepage1.jpg")" alt="TomatoPaste" />
        <div class="clearfix"></div>
        <p>
            <h3>Tomato paste</h3><div class="clearfix"></div>
            Tomato paste is a thick paste made by cooking tomatoes
            for several hours to reduce the water content, straining
            out the seeds and skins, and cooking the liquid again to
            reduce the base to a thick, rich concentrate. By contrast,
            tomato purée is a liquid with a consistency between crushed
            tomatoes and tomato paste that is made from tomatoes that
            have been briefly boiled and strained. Based on the manufacturing
            conditions, the paste can be the basis for making ketchup or
            reconstituted tomato juice.
        </p>
        <br />
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/TomatoPaste/TomatoPastepage2.jpg")" alt="TomatoPaste" />
        <p>
            <div class="clearfix"></div>
            Degrees Brix (°Bx), which is a conventional unit of measuremen
            for quality, refers to the sugar content of an aqueous solution.
            One degree Brix is one gram of sucrose in 100 grams of solution
            and represents the strength of the solution as percentage by mass.
        </p>
        <br />
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/TomatoPaste/TomatoPastepage3.jpg")" alt="TomatoPaste" />
        <p>
            <div class="clearfix"></div>
            Hamico’s five purpose-built production lines, adjacent to tomato
            farms of different areas nationwide, provides a range of tomato paste
            products in diverse packing and varied brix from the lowest to the strongest.
        </p>
    </div>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <table width="100%" align="center">
        <tr>
            <th colspan="4">Nutrition Facts</th>
        </tr>
        <tr>
            <th colspan="4">Amount Per 100 grams- Calories 82</th>
        </tr>
        <tr>
            <td></td>
            <td>% Daily Value</td>
        </tr>
        <tr>
            <td>Total Fat 0.5 g</td>
            <td>0%</td>
        </tr>
        <tr>
            <td>Saturated fat 0.1 g</td>
            <td>0%</td>
        </tr>
        <tr>
            <td>Monounsaturated fat 0.1 g</td>
            <td></td>
        </tr>
        <tr>
            <td>Cholesterol 0 mg</td>
            <td>0%</td>
        </tr>
        <tr>
            <td>Sodium 59 mg</td>
            <td>2%</td>
        </tr>
        <tr>
            <td>Potassium 1,014 mg</td>
            <td>28%</td>
        </tr>
        <tr>
            <td>Total Carbohydrate 19 g</td>
            <td>6%</td>
        </tr>
        <tr>
            <td>Dietary fiber 4.1 g</td>
            <td>16%</td>
        </tr>
        <tr>
            <td>Sugar 12 g</td>
            <td></td>
        </tr>
        <tr>
            <td>Protein 4.3 g</td>
            <td>8%</td>
        </tr>
        <tr>
            <td>Vitamin A</td>
            <td>30%</td>
            <td>Vitamin C</td>
            <td>36%</td>
        </tr>
        <tr>
            <td>Calcium</td>
            <td>3%</td>
            <td>Iron</td>
            <td>16%</td>
        </tr>
        <tr>
            <td>Vitamin D</td>
            <td>0%</td>
            <td>Vitamin B-6</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>Vitamin B-12</td>
            <td>0%</td>
            <td>Magnesium</td>
            <td>10%</td>
        </tr>
    </table>
</div>
