@{
    ViewBag.Title = "ZahediDates";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <a href="@Url.Action("Dates")" class="btn">Back</a>
            <h2>Zahedi Dates
                <span></span>
            </h2>
        </div>
    </div>
   
    <div class="grid_16 ">
<p>Zahedi is one the dry varieties of the date in most regions of Iran, however, in some regions it is known as a semi-dried date. It is also called as Ghasab in some areas of Iran.</p>
<p>The dates ae produced in Khuzestan, Fars, Bushehr and Kermanshah provinces, but the main production is in a region called Poshtkooh in Bushehr Province.</p>
<p>There are 4 distinct stages of ripening. In the first stage called Kharak, the skin of Zahidi becomes yellow. At the Rutab stage, dates become light brown and at the final stage, called Tamr dates turn into reddish brown to light yellow.</p>
<p>The date is oval-shaped which is narrower at the end. It can easily be stored all year long. Due to its high sugar content, it can be used for vinegar and alcohol production. Kharak ripens in late August but the harvest season is early-mid September. Zahidi is among the dry dates which ripens late and is subject to premature drops. The main regions for the production of the date are Borazjan, Kazerun, Firoozabad, Bushehr, Jahrom, Lar  and Khoramshahr.</p>
<p><strong>Grades:</strong> The product is available in three grades of AAA, AA and A</p>
<p><strong>Packing:</strong> Available regular packing is 10-12.5 kg cartons.</p>


    </div>
     <div class="grid_16 ">
        <img class="img_inner" class="img_inner" src="@Url.Content("~/Content/images/products/Dates/Zahedi.jpg")" alt="Zahedi"/>
    </div>
</div>
