@model dynamic

@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h2>
                Rhine Middle East LLC.
                <span></span>
            </h2>
        </div>
    </div>

    <div class="grid_12 ">
        <p>
           
            Rhine middle east LLC. Was formed in 2018 and is located in jabal ali free zone.
            We intend to use this platform to trade globally and offer our buyers various commodities
            like petro chemicals, grease, frozen fish and sea food,Dry Fruits and Nute, gypsum, paper trading, Gilsonite and Bitumen.
        </p>
    </div>
    @*<div class="grid_7 ">
        <img src="@Url.Content("~/Content/images/logo.png")" />
    </div>*@
    <div class="grid_12 ">
        <h3>
            Vision
            <span></span>
        </h3>


        <p>
            Reliability has been one of the key drivers of our growth. It is our principle that timely execution of contracts and delivering our commitments to the satisfaction of both suppliers and buyers
        </p>
    </div>

    <div class="grid_12 ">
        <h3>
            Mission
            <span></span>
        </h3>
        <p>
            To be a dynamic multinational firm moving energy efficiently which serves value and integrity to our stakeholders
        </p>
    </div>
</div>

