@model dynamic

@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h2>Ghanim Abbadi Trading Company
                <span></span>
            </h2>
        </div>
    </div>
    
    <div class="grid_12 ">
        <p>Ghanim Abbadi Trading Company (GAT) is manufacturer of Gilsonite (natural asphalt), Bitumen 60/70,Bitumen 80/100...oxidized asphalt - blown asphalt-oxidized bitumen115/15,oxidized bitumen 90/40,oxidized bitumen 85/25 and bituminous products.</p>
<p>Gilsonite is GAT brand name for the mineral known as asphaltum, uintaite, Natural bitumen, mineral tar, natural asphalt, mineral bitumen, bitumen powder, drilling mud, or uintaite, which is found in commercial quantities only in Utah, USA.</p>
<p>This unique mineral is used in more than 160 products, primarily in dark-colored printing inks and paints, oil well drilling muds and cements, asphalt modifiers, foundry sands additives and a wide variety of chemical products.</p>
<p>Gilsonite or natural asphalt or natural bitumen or mineral asphalt is compatible with microcrystalline and paraffin wax, petroleum resin and oil resins, tall oil pitch, vegetable oil (linseed, soya, etc), petroleum process oils and  petroleum asphalt.</p>
<p>Also we are providing Blown Asphalt or Oxidized Asphalt or Blown Bitumen or Oxidized Bitumen 115/15 or Oxidized asphalt 115/15 or blown bitumen 115/15 or bitumen 115/15, Oxidized Bitumen 85/25, Oxidized Bitumen 95/15, Oxidized Bitumen 100/15, Oxidized Bitumen 150/5, Oxidized Asphalt 115/15, Oxidized Asphalt 85/40, Oxidized bitumen 85/40, Hard asphalt or Hard bitumen, all grades of Oxidized Bitumen will produce according to order.</p>
    </div>
    <div class="grid_4 ">
        <img src="@Url.Content("~/Content/images/LogoBig.png")"/>
    </div>
</div>

