@model dynamic

@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h2>
                Rhine Middle East LLC.
                <span></span>
            </h2>
        </div>
    </div>
    <div class="grid_12">
        <h3>Contact Us</h3>
        <div class="phone">
            <span>+97143927774</span>
            <div class="clearfix"></div>
            <a href="mailto:info@rhineme.com">info@rhineME.com</a>
        </div>
        <div class="clearfix"></div>
        <p>
            License NO. 171240, Registration NO. 204200, Jafza One, Office: FZJOBB 1609
            <br />Dubai , U.A.E.
        </p>
    </div>
</div>