@{
    ViewBag.Title = "ErrorMessage";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<!DOCTYPE html>
<h3>Error</h3>

<h1>Oops!</h1>
<p>There was some problem. Please try again later. </p>
<div>
    @Html.ActionLink("Back to Home", "Index")
</div>